<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
  <span>
  	<%= link_to 'powered by Tiway', 'http://www.tiway.net', target: "_blank" %>
  	<%= link_to image_tag('http://tiway.net/img/footer2.png', size: "15x20"), 'http://www.tiway.net', target: "_blank" %>
  	kim
  </span>
</p>
