<div class="navbar-inner">
	<div class="container" style="position:relative; ">
		<div id="logo" class="pull-left">
		  	<%= link_to image_tag("logo1.png", :size => "185x74"), refinery.root_path %>
		  	<%= link_to image_tag("logo2.png", :size => "45x45"), refinery.root_path, :style => "position:absolute; right:0; bottom:0; " %>
		</div>
		
		<div id="menu_container" class="pull-right" class="bt">
		  	<%= render(:partial => "/refinery/menu", :locals => {
	             :dom_id => 'menu',
	             :css => 'menu'
	           }) %>
	    </div>
    </div>
</div>