/* colors */
$bodyBackground: #fff;

$navbarHeight: 95px;
$navbarBackground: #4080b7;
$navbarBackgroundHighlight: #305e84;


$global_width: 1000px;


//border for boundary test
.bt {
	border:1px solid pink;
}
//////////////////////////


@import "bootstrap";

* {
  padding:0;
  margin:0;
  border:0;
}


.rounded-corners {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}


html, body {
	font-family: 'PTSansCaptionRegular';
	background-image: url('pattern2.png');
}


#page {
	margin-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	width: $global_width;
	background-image: url('pattern.png');
	background-color: white;
	margin-left: auto;
  	margin-right: auto;
  	border: 1px solid #babab3;



  	h1 {
  		margin-top: 40px;
  		font-size: 20px;
  		border-bottom: 1px solid #eeeeee;
  	}

  	h2 {
  		margin-top: 40px;
  		font-size: 16px;
  	}

  	h3 {
  		margin-top: 40px;
  		font-size: 14px;
  	}

  	p {
  		line-height: 25px;
  	}
}


.navbar-inner {
	border-bottom: 1px solid #bbdcf9;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	

	.container {
		width: $global_width;

		#logo {
			position: relative;
			padding-top: 40px;
			width: 240px;
		}

	
		#menu_container {
			position: absolute;
			right: 0;
			top: 0;
			margin-top: 50px;


			#menu ul /*Container ul*/ {
				margin:0px;
				padding:0px;
				list-style:none; /*Remove the dots*/
			}

			#menu ul li { /*Normal listitem (the ones you'll always see)*/
				vertical-align:top; /*Align the items to the top*/
				display:inline-block; /*Let the items make a horizontal line*/
			}

			#menu ul li a { /*The buttons you'll always see*/
				display:inline-block;
				padding:3px 10px;
				//background:black;
				//border:1px solid white;
				color: #fff;
				font-size: 15px;
				//font-weight: bold;
			}


			#menu ul li a:hover { /*The buttons you'll always see*/
				color: #f8341e;
				text-decoration: none;
			}


			#menu ul li ul { /*Dropdown menu container*/
				position:absolute;
				display:none; /*Hides the dropdown menu's if they arent hovered over*/
			}

			#menu ul li:hover ul { /*Dropdown menu container on hover*/
				display:block; /*Shows the dropdown menu when the users hovers over the menuitem*/
			}

			#menu ul li ul li { /*Dropdown menu listitem*/
				display:block; /*Let the dropdowns make a vertical line*/
				padding:0px;
			}

			#menu ul li ul li a {
				display:inline-block;
				padding:3px 10px;
				//color:green;
			}
		}
	}
}



footer {
	width:$global_width;
	margin-top:10px;
	margin-left: auto;
  	margin-right: auto;
  	//border-top: 1px solid #eeeeee;
  	bottom: 0;

  	p {
  		//border-top: 1px solid #fff;
  		padding-top:10px;
  		font-size:11px;
  	}
}